@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0dcaf0;
    width: 220px;
    height: 40px;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
   
  }

  .button:hover,.form button:active,.form button:focus {
    background: #0999b6;
  }